@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Courier New', monospace;
  color: #ffff00;
  background-color: #3e3529;
}
